https://pynative.com/python/

### Python range()

In [5]:
# range(start, stop[, step])
for i in range(6):
    print(i)

0
1
2
3
4
5

In [6]:
# Print first 10 numbers
# stop = 10
for i in range(10):
    print(i, end=' ')
# Output 0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9

In [7]:
# Numbers from 10 to 15
# start = 10
# stop = 16
for i in range(10, 16):
    print(i, end=' ')
# Output 10 11 12 13 14 15

10 11 12 13 14 15

In [9]:
# Numbers from 10 to 15
# start = 10
# stop = 50
# step = 5
for i in range(10, 50, 5):
    print(i, end=' ')
# Output 10 15 20 25 30 35 40 45

10 15 20 25 30 35 40 45

In [10]:
for i in range(1, 10, 2):
    print("Current value of i is:", i)

Current value of i is: 1
Current value of i is: 3
Current value of i is: 5
Current value of i is: 7
Current value of i is: 9

#### Iterate a list using range() and for loop

In [11]:
list1 = ['Jessa', 'Emma', 20, 30, 75.5]
# iterate a list using range()
for i in range(len(list1)):
    print(list1[i])

Jessa
Emma
20
30
75.5

#### Reverse range

In [28]:
# normal
print("normal")
for i in range(1, 6, 1):
    print(i)

# reverse
print("reverse")
for i in range(5, 0, -1):
    print(i)
    
# reverse
print("reverse")
for i in reversed(range(1, 6, 1)):
    print(i)

normal
1
2
3
4
5
reverse
5
4
3
2
1
reverse
5
4
3
2
1

In [29]:
# reverse range using negative step
# start = 5
# stop = -1
# step = -1
for i in range(5, -1, -1):
    print(i)

5
4
3
2
1
0

In [31]:
# example
for i in reversed(range(10, 21)):
    print(i, end=' ')
# Output 19 18 17 16 15 14 13 12 11 10

print(type(range(0, 5)))
# Output <class 'range'>

print(type(reversed(range(0, 5))))
# Output <class 'range_iterator'>

20 19 18 17 16 15 14 13 12 11 10 <class 'range'>
<class 'range_iterator'>

#### Use range() to reverse a list

In [33]:
list1 = [10, 20, 30, 40, 50]
# start = list's size
# stop = -1
# step = -1

# reverse a list
for i in range(len(list1) - 1, -1, -1):
    print(list1[i], end=" ")
# Output 50 40 30 20 10

50 40 30 20 10

#### Negative range() in Python

In [34]:
# negative range from -1 to -10
for i in range(-1, -11, -1):
    print(i, end=', ')
# Output -1, -2, -3, -4, -5, -6, -7, -8, -9, -10

-1, -2, -3, -4, -5, -6, -7, -8, -9, -10,

In [35]:
# negative range from -10 to -1
# start = -10
# stop = 0
# step = 1
for i in range(-10, 0):
    print(i, end=', ')
# Output -10, -9, -8, -7, -6, -5, -4, -3, -2, -1,

-10, -9, -8, -7, -6, -5, -4, -3, -2, -1,

#### Convert range() to list

In [38]:
# create list from range()
sample_list = list(range(2, 10, 2))
print(type(sample_list))
# Output <class 'list'>

# display list
print(sample_list)
# Output [2, 4, 6, 8]

# iterate list
for item in sample_list:
    print(item)
print(type(item))

<class 'list'>
[2, 4, 6, 8]
2
4
6
8
<class 'int'>

In [39]:
# create list from range()
sample_list = list(range(10, 100, 10))

# iterate and modify list item using range()
# double each list number
# start = 0, stop = list size, step =1
for i in range(0, len(sample_list), 1):
    sample_list[i] = sample_list[i] * 2

#  display updated list
print(sample_list)
# Output [20, 40, 60, 80, 100, 120, 140, 160, 180]

[20, 40, 60, 80, 100, 120, 140, 160, 180]

#### Inclusive range

In [40]:
# inclusive range
start = 1
stop = 5
step = 1

# change stop
stop += step

for i in range(start, stop, step):
    print(i, end=' ')
# Output 1 2 3 4 5

1 2 3 4 5

#### Concatenating the result of two range()

In [42]:
from itertools import chain

# Concatenate ranges
new_range = chain(range(5), range(5, 10))
for num in new_range:
    print(num, end=' ')
# Output 0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9

#### range() indexing and slicing

In [44]:
range1 = range(0, 10)
# access range() attributes
print(range1.start)  # 0
print(range1.stop)  # 10
print(range1.step)  # 1

0
10
1